.swal2-popup {
    .swal2-title{
        padding-top:1.7em;
        font-size:1.2em;
        color:#000;
    }
    
    .swal2-actions {
        .swal2-styled{
            font-size: .8em
        }

       .swal2-confirm{
            background-color:#4d8dee
        }
    }
}